<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Student</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button2 {background-color: #008CBA;} /* Blue */
  </style>
</head>
<body>
  <center>
    <h1>Data Student</h1>
    <a href="/student/add" class="button button2">Add New Student</a>
    <br>
    <% if (message) { %>
      <h3 style="color: #4CAF50"><%= message %></h3>
    <% } else if (error) { %>
      <h3 style="color: red"><%= error %></h3>
    <% } %>
  </center>
  <br>
  <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Options</th>
      </tr>
      <% data.forEach(dataStudent => { %>
        <tr>
          <td><%= dataStudent.id %></td>
          <td><%= dataStudent.first_name %></td>
          <td><%= dataStudent.last_name %></td>
          <td><%= dataStudent.email %></td>
          <td><%= dataStudent.birthday.toLocaleDateString() %></td>
          <td>
            <a href="/student/edit/<%= dataStudent.id %>" class="button">Edit</a>
            <a href="/student/delete/<%= dataStudent.id %>" class="button">Delete</a>
          </td>
        </tr>
      <% }) %>
    </table>
    <br>
    <a href="/" class="button button2" >Back to home</a>
  
</body>
</html>