

<!DOCTYPE html>
<html>
<head>
	<title>Students' List</title>
</head>
<body>

	<h1>Students Data</h1>
  <p><a href= "/students/addStudent">Add Student</a></p>
	<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Options</th>
  </tr>
  <% for(var i=0; i < data.length; i++) { %>
  <tr>
    <td><%= data[i].first_name %></td>
    <td><%= data[i].last_name %></td>
    <td><%= data[i].email %></td>
    <td><a href='/students/editStudent/<%= data[i].id %>'>edit</a>|<a href = '/students/<%= data[i].id %>' onclick="return confirm('delete this student?')"> delete </a></td>
  </tr>
  <% } %>
</table>
<p><a href="/">back</a></p>

</body>
</html>

