<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center">Teachers Page</h1>
    <a href="/teachers/add"><h3 style="text-align: center">Add Teacher</h3></a>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% data_teachers.forEach(teachers => { %>
                <tr>
                    <td><%= teachers.id %></td>
                    <td><%= teachers.first_name %></td>
                    <td><%= teachers.last_name %></td>
                    <td><%= teachers.email %></td>
                    <td><a href="/teachers/edit/<%= teachers.id %>">Edit</a> 
                        <a href="/teachers/delete/<%= teachers.id %>" onclick="return confirm('Are you sure you want to delete this Teacher?');"> | Delete</a></td>
                </tr>
            <% })%>
            </tbody>
    </table>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>