<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Teachers Data</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center">Teachers Data</h1>
  <h3 style="text-align: center"><a href="/teachers/add">Add Teacher</a></h3>
  <table>
    <tr>
      <th>No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>action</th>
    </tr>
    <% let no = 0 %>
    <% containTeacherArr.forEach(dataTeacher => { %>
      <% no += 1 %>
      <tr>
        <td><%= no %></td>
        <td><%= dataTeacher.firstName %></td>
        <td><%= dataTeacher.lastName %></td>
        <td><%= dataTeacher.email %></td>
        <td><a href="/teachers/edit/<%= dataTeacher.id %>">Edit</a> | <a href="/teachers/delete/<%= dataTeacher.id %>">Delete</a></td>
   </tr>
   <% }) %>
  </table>
</body>

</html>