<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <form action="/teachers/edit/<%= editTeacher.id %>" method="POST">
        First Name:
        <br>
        <input type="text" name="first_name" value="<%= editTeacher.first_name %>">
        <br>
        <br>
        Last Name:
        <br>
        <input type="text" name="last_name"  value="<%= editTeacher.last_name %>">
        <br>
        <br>
        Email:
        <br>
        <input type="text" name="email" value="<%= editTeacher.email %>">
        <br>
        <br>
        <button type="submit" value="Confirm Edit">Confirm Edit</button>
        </form>
    </div>
    <br>
    <a href="/teachers">Back to Teachers List</a>
    <br><br>
    <a href="/">Back to Homepage</a>
</body>
</html>